branches:
  only:
  - master
env:
  global:
  - REPO_DIR=reportlab
  - MULTIBUILD_DIR=multibuild
  - MB_ML_VER=2010
  - CONFIG_PATH=.travis-config.sh
  - BUILD_COMMIT=master
  - PLAT=x86_64
  - UNICODE_WIDTH=32
  - BUILD_DEPENDS=""
  - TEST_DEPENDS="pillow"
  - TWINE_USERNAME=MrRLBitBucket
  - CITOOLS_USER=rl-wheelbuilder
  - RLCACHE=manylinux/reportlab
  - secure: mUagh+59W6bLxJdCsHIO9iO5S9yEjBsAVyAk8JyIQxPX+hHKxWahBUt7oirWlA/Br0ByBXyNuXWVf899LpNpRPPcWjCJn1i94S+ER6xSUnuKuEw8X3uKMiVB4m+QavD+vDnYCTlj5C69pEqIe6/Qpds0pn6lc3QZhqxhXShKrptqVkGnYKGLPugWDDyg7fYh3ygOz/2BwfQMItBHbwZZ09FTnEtoM0gn/QybL4DHL9PpWnKtJVa/4b8SqGU41xGF5qh/nEuNT4UXBPd2ahbfYCP+N2IYYRHLLo66M8gcZOdS0iSWb1+qIWFrDzmzJ8WLC7pOVJ7lwm7KMWt1dMl5vbPTu1V+a6sXzHWkxFutjQ0zQczJv8BTV/lj5d6OnYRVL5SP/1mYl8KkGmq8ChbYZVFl+gE/82rw0fZ83Ay/K41qz2pbgO3hcPDJqxQjVQJWWEveQhxCL2jXN/e6cMWfpe2KuL6qsDLPwT4TKf3FjXXH3WNmY1QUq7GHPkJiBauj0jmpo59Y7I9t/TaTFkt1H9LaKkbxuOTl4qecNh38ABywuZCc+e3XBDsyqZrQvy7P7QM2nDd+1OHLGnLcKmDY3DmHFKji0NYqE45sJpjYfqgr3/G6gnB6cJNh3iWA1jZdxCLQQTAx+ZawAKpyeagN8cej6r5XqwcIL69pq9Di2RM=
  # travis encrypt -r MrBitBucket/reportlab-mirror CITOOLS_PASSWORD="****\\;*************\\#*****" --add with extra bash quoting
language: shell
os: linux
dist: trusty
services: docker

notifications:
  email:
    recipients:
    - bitbucket@reportlab.com
    - live_errors@reportlab.com
    on_success: always
    on_failure: always
jobs:
  include:
  - os: linux
    env:
    - UNICODE_WIDTH=16
    - MB_PYTHON_VERSION=2.7
  - os: linux
    env:
    - UNICODE_WIDTH=16
    - MB_PYTHON_VERSION=2.7
    - PLAT=i686
  - os: linux
    env:
    - MB_PYTHON_VERSION=2.7
  - os: linux
    env:
    - MB_PYTHON_VERSION=2.7
    - PLAT=i686
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.5
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.5
    - PLAT=i686
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.6
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.6
    - PLAT=i686
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.7
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.7
    - PLAT=i686
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.8
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.8
    - PLAT=i686
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=2.7
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.5
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.6
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.7
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.8
    - MB_PYTHON_OSX_VER=10.9
before_install:
- git clone https://github.com/matthew-brett/multibuild $MULTIBUILD_DIR
- cd $MULTIBUILD_DIR
- git checkout b943f33a92772fd52c2fa38c03d08aac974c53bd
- cd ..
- git clone https://github.com/MrBitBucket/reportlab-mirror $REPO_DIR
- source $MULTIBUILD_DIR/common_utils.sh
- source $MULTIBUILD_DIR/travis_steps.sh
- before_install
install:
- clean_code $REPO_DIR $BUILD_COMMIT
- build_wheel $REPO_DIR $PLAT
script:
- install_run $PLAT
after_success:
- pip install https://hg.reportlab.com/hg-public/rl-ci-tools/archive/tip.tar.gz -U
- python -mrl_ci_tools upload-caches --subdir="$RLCACHE" --verbosity=1 ${TRAVIS_BUILD_DIR}/wheelhouse/*
